html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body {
  background-image: url("img/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  padding: 0px 15px;
  border-radius: 20px;
}

.c1 {
  background-color: rgb(229, 216, 235);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-link {
  padding: 1rem 1.4rem;
  margin: 0rem 0.7rem;
}

.nav-link:focus {
  outline: none;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #080727;
  z-index: 1000;
  height: 80px;
}

.ac {
  font-weight: bold;
  color: #e0726c;
}

input,
button {
  width: 96%;
  background-color: #fff2f1;
  border-radius: 8px;
  padding: 8px 17px;
  font-size: 13px;
  border: 1px solid #f5f0ef;
  color: #dccece;
}

input {
  text-decoration: none;
}

.bt {
  background-color: #ff4133;
  border: 1px solid rgb(300, 200, 200);
}

form {
  margin-top: 70px;
}

form > * {
  margin: 10px 0px;
}

#forgot {
  margin: 0px -60px;
}

#register {
  text-align: center;
}

/* img {
    background-color: antiquewhite
} */

#logo {
  height: 50px;
  width: auto;
}

#user-logo {
  height: 40px;
}

#tiktoklogo {
  height: 300px;
  width: auto;
}

.wlcm {
  font-size: 30px;
}

.sp1 {
  font-size: 5px;
}

.sp1 > span {
  background-color: #f0c3be;
}

.search-btn {
  background-color: #ff4133;
  width: 10%;
  border-radius: 200px;
}

.search-btn:hover {
  background-color: #c83328;
}

.search-form {
  border-radius: 200px;
  height: 50px;
  border-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchHashtagCard {
  margin: 100px 0;
}

.likesTable {
  width: 100px;
}

.repliesTable {
  width: 100px;
}

.usernameTable {
  width: 200px;
}

.sentimentTable {
  width: 100px;
}

.text-bold {
  font-weight: 700;
}

.logout-icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
}
button.clicked {
    background-color: blue;
    color: white;
}

.membership-card {
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  font-family: 'Allan', serif;
}

.modal-backdrop {
  --bs-backdrop-zindex: 0;
}

.card-member {
  border-radius: 6px;
}

.round {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

/* Add transitions to the clickable cards */
.clickable-card {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

/* Style for the selected card */
.selected {
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 3px #3057d5;
}

/* Add a hover effect to the clickable cards */
.clickable-card:hover {
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 1px #496ee7;
}

/* Adjust the 'Change Membership' button style */
#changeMembershipBtn {
  transition: background-color 0.3s ease-in-out;
}

/* Disable the button when not selected */
#changeMembershipBtn:disabled {
  background-color: #6c757d !important;
}